inoremap qq <Esc>:w<CR>
nnoremap qq <Esc>:w<CR>
vnoremap qq <Esc>:w<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap ,f :action FindInPath<CR>

command W w
command WQ wq
" command qq w
" command QQ w
