" ignore case for search
:set ignorecase

" auto switching of line number styles
:set number relativenumber
 
:augroup numbertoggle
: autocmd!
: autocmd BufEnter,FocusGained,InsertLeave * set relativenumber
: autocmd BufLeave,FocusLost,InsertEnter * set norelativenumber
:augroup END

inoremap qq <Esc>:w<CR>
nnoremap qq <Esc>:w<CR>
vnoremap qq <Esc>:w<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap ,f :action FindInPath<CR>


command W w
command WQ wq
" command qq w
" command QQ w
